*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div{
    background-color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 40px 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
h1{
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
input{
    padding: 15px;
    border-radius: 6px;
    border: none;
    outline: none;
    margin: 15px;
    background: rgba(255, 255, 255, 0.129);
    color: white;
    width: 250px;
}
div ::placeholder{
    font-size: 14px;
    color: white;
}
#sub{
    width: 90%;
    border-radius: 20px;
    font-size: medium;
    padding: 13px;
}