*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    background-color: #1e272e;
}
section{
    background: #2f3640;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 60px;
    border-radius: 10px;
}
div{
    background: #ffffffa5;
    padding: 50px;
    border-radius: 5px;
}
input{
    padding: 15px;
    border: none;
    background-color: #2f3640;
    border-radius: 5px;
    outline: none;
    color: white;
}
.sub{
    width: 100%;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
}
h1{
    text-align: center;
    font-size: 27px;
}
div ::placeholder{
    color: white;
    font-size: 15px;
    font-weight: 500;
}
